body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 30px;
}

h2 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.container {
  max-width: 330px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}
